api = 2
core = 7.x

libraries[leaflet_oms][download][type] = "get"
libraries[leaflet_oms][download][url] = "http://jawj.github.com/OverlappingMarkerSpiderfier-Leaflet/bin/oms.min.js"
libraries[leaflet_oms][directory_name] = "leaflet_oms"
libraries[leaflet_oms][destination] = "libraries"
